/* Import external stylesheets */
@import url('https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic');
@import 'normalize.css/normalize.css';
@import 'milligram/dist/milligram.min.css';

/* Additional styling */
body {
    --container-width: 1120px;

    --color-surface: white;
    --color-primary: whitesmoke;
    --color-detail: lightgray;
    --color-text: #606c7;

    --color-chip: var(--color-surface);
    --color-chip-border: var(--color-detail);
    --color-chip-hover: var(--color-primary);
    --chip-shadow-strength: 5%;

    --color-card: whitesmoke;
    --color-card-border: var(--color-detail);

    --color-code-bg: #dcdada;

    --color-input: var(--color-text);

    background-color: var(--color-surface);
    color: var(--color-text);
}

.theme-dark {
    --color-surface: #303742;
    --color-primary: #15191e;
    --color-detail: #15191e;
    --color-text: whitesmoke;

    --color-chip: #404a59;
    --color-chip-border: #404a59;
    --color-chip-hover: #4b5668;
    --chip-shadow-strength: 12%;

    --color-card: #20252c;
    --color-card-border: #20252c;

    --color-code-bg: #0b0c0f;
}

input {
    color: var(--color-input);
}

pre, code {
    background-color: var(--color-code-bg);
}

pre, blockquote {
    overflow-x: scroll;
    -ms-overflow-style: none;  /* Hide scrollbar for IE and Edge */
    scrollbar-width: none;  /* Hide scrollbar for Firefox */
}

/* Hide scrollbar */
pre::-webkit-scrollbar, blockquote::-webkit-scrollbar {
    display: none;
}

header {
    position: sticky;
    top: 0;
    background-color: var(--color-surface);
}

nav {
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-primary);
}

nav * {
    margin: 0;
}

nav .button {
    padding: 0 0.5rem;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav .button img {
    max-width: inherit;
}

.brand {
    display: flex;
}

.brand img {
    margin-right: 0.25rem;
}

select {
    background-color: var(--color-surface);
    color: var(--color-text);
}

section {
    padding: 1rem;
}

#opts-section {
    max-width: 1120px;
    margin: 0 auto;
    display: flex;
    border-bottom: 1px solid var(--color-detail);
}

#filter-area {
    flex-grow: 1;
    display: flex;
    align-items: center;
}

#sort-form label {
    flex-shrink: 0;
}

main {
    max-width: var(--container-width);
    min-height: 75vh;
    margin: 0 auto;
    padding: 2rem;
    padding-bottom: 5rem;
}

form.inline {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

form.inline * {
    margin: 0;
    margin-right: 0.5rem;
}

form.inline *:last-child {
    margin: 0;
}

.tag-container {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    padding-top: 1rem;
}

.tag {
    border: 1px solid var(--color-chip-border);
    background-color: var(--color-chip);
    color: var(--color-text);
    border-radius: 1.5rem;
    margin: 0.25rem;
    padding: 0.3rem 1rem;
    line-height: 1.3;
    -webkit-box-shadow: 0 0.2rem 0 rgb(0 0 0 / var(--chip-shadow-strength));
    box-shadow: 0 0.2rem 0 rgb(0 0 0 / var(--chip-shadow-strength));
}

.tag * {
    margin: 0;
}

.tag:hover, .tag:focus {
    background-color: var(--color-chip-hover);
    color: var(--color-text);
}

.card {
    border: 1px solid var(--color-card-border);
    background-color: var(--color-card);
    border-radius: 1rem;
    padding: 2rem;
    margin-bottom: 1rem;
}

.post-info {
    display: flex;
    /* flex-wrap: wrap; */
    align-items: flex-start;
    margin-bottom: 1rem;
}

.post-info h1, .post-info h2, .post-info h3, .post-info h4, 
.post-info h5, .post-info h6, .post-info p {
    margin: 0;
}

.post-details {
    /* max-width: 50%; */
    flex-grow: 1;
    margin: 0 1rem;
}

.post-details .chip-container {
    margin-top: 1.5rem;
}

.metric {
    background-color: var(--color-detail);
    border: 1px solid var(--color-detail);
    border-radius: 1rem;
    margin-right: 1rem;
    min-width: 7rem;
    padding: 1rem 0.65rem;
    text-align: center;
}

.answered {
    background-color: #8A57A3;
    color: whitesmoke;
}

.msg {
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loading svg {
    animation-name: spin;
    animation-duration: 0.85s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

footer {
    border-top: 1px solid gray;
    background-color: var(--color-surface);
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0.75rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

footer * {
    margin: 0;
}

footer .button {
    margin: 0;
    padding: 1.5rem 0.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#theme-toggle, #btn-logout {
    color: var(--color-text);
}

.modal {
    /* background: rgba(21, 22, 22, 0.25); */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-fade {
    background: rgba(21, 22, 22, 0.25);
    -webkit-backdrop-filter: blur(0.15rem);
    backdrop-filter: blur(0.15rem);
    position: fixed;
    width: 100%;
    height: 100%;
}

.modal-content {
    background: var(--color-surface);
    border-radius: 1rem;
    padding: 2rem;
    z-index: 1;
}

.modal-actions {
    display: flex;
    justify-content: center;
}

.modal-actions * {
    margin: 0.5rem;
}

.msg-bar {
    background: rgba(56, 56, 56, 0.85);
    position: fixed;
    bottom: 0;
    z-index: 10;
    width: 100%;
    color: whitesmoke;
}

.msg-content {
    max-width: var(--container-width);
    margin: 0 auto;
    padding: 0.75rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.msg-content * {
    margin: 0.5rem;
}

@media (max-width: 600px) {
    a {
        word-break: break-all;
    }
    
    code {
        white-space: normal;
    }
    
    .post-info {
        flex-wrap: wrap;
    }

    .post-details {
        order: 2;
    }

    .post-date {
        order: 1;
        flex-grow: 1;
        text-align: end;
    }
}

@keyframes spin {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(360deg);
    }
}