{{ define "page-head" }}
<script src="{{ `/js/dewy.js` | relURL }}" defer></script>
{{ end }}

{{ define "header" }}
<header>
    <nav>
        <a href="{{ `/` | relURL }}" class="brand">
            <img src="{{ `/img/dewy-ic.svg` | relURL }}">
            <h4>dewy</h4>
        </a>

        <form class="inline">
            <input type="search" placeholder="Search">
            <button type="button" class="button">
                <img src="{{ `/img/magnify.svg` | relURL }}">
            </button>
        </form>

        <button id="theme-toggle" type="button" class="button button-outline">
            <img src="{{ `/img/brightness-4.svg` | relURL }}">
        </button>
    </nav>

    <section id="opts-section">
        <div id="filter-area">
            <!-- <div class="chip">Tag</div>
            <div class="chip">Tag</div>
            <div class="chip">Tag</div> -->
        </div>

        <form id="sort-form" class="inline">
            <label for="sort-by"><h6>Sort by</h6></label>
            <select id="sort-by">
                <option value="date-desc" selected>Newest</option>
                <option value="date-asc">Oldest</option>
            </select>
        </form>
    </section>
</header>
{{ end }}

{{ define "main" }}
<main>
    <section class="msg">
        <h4>Connect to your Stack Overflow account to view and search your bookmarks</h4>
        <button type="button" class="button">Connect</button>
    </section>
</main>

<template id="template-chip">
    <div class="chip">Tag</div>
</template>

<template id="template-card">
    <div class="card">
        <div class="post-info">
            <div class="metric">
                <h6>score</h6>
                <h4>0</h4>
            </div>

            <div class="metric">
                <h6>answers</h6>
                <h4>0</h4>
            </div>

            <div class="post-details">
                <a href="#"><h4>title</h4></a>
                <p>author</p>
                <div class="chip-container">
                    <!-- <div class="chip">Tag</div>
                    <div class="chip">Tag</div> -->
                </div>
            </div>

            <h5>date</h5>
        </div>

        <details>
            <summary>Expansion</summary>
            <p>Expanded</p>
        </details>
    </div>
</template>
{{ end }}

{{ define "footer" }}
<footer>
    <p>powered by <a href="#">Stack Exchange</a></p>

    <p>designed by <a href="#">Sammy T</a></p>

    <a href="#" class="brand">
        <img src="{{ `/img/github.svg` | relURL }}">
        <p>GitHub</p>
    </a>

    <button type="button" id="btn-disconnect" class="button button-small button-clear">Disconnect</button>
</footer>
{{ end }}