{{ define "page-head" }}
<script src="{{ `/js/dewy.js` | relURL }}" defer></script>
{{ end }}

{{ define "header" }}
<header>
    <nav>
        <a href="{{ `/` | relURL }}" class="brand">
            <img src="{{ `/img/dewy-ic.svg` | relURL }}">
            <h4>dewy</h4>
        </a>

        <form class="inline">
            <input type="search" placeholder="Search">
            <button type="button" class="button">
                <img src="{{ `/img/magnify.svg` | relURL }}">
            </button>
        </form>

        <button id="theme-toggle" type="button" class="button button-outline">
            <img src="{{ `/img/brightness-4.svg` | relURL }}">
        </button>
    </nav>

    <section id="opts-section">
        <div id="filter-area">
            <div class="chip">Tag</div>
            <div class="chip">Tag</div>
            <div class="chip">Tag</div>
        </div>

        <form id="sort-form" class="inline">
            <label for="sort-by"><h6>Sort by</h6></label>
            <select id="sort-by">
                <option value="date-desc" selected>Newest</option>
                <option value="date-asc">Oldest</option>
            </select>
        </form>
    </section>
</header>
{{ end }}

{{ define "main" }}
<main>
    <div class="card">
        <div class="post-info">
            <div class="metric">
                <h6>score</h6>
                <h4>0</h4>
            </div>

            <div class="metric">
                <h6>answers</h6>
                <h4>0</h4>
            </div>

            <div class="post-details">
                <a href="#"><h4>title</h4></a>
                <p>author</p>
                <div class="chip-container">
                    <div class="chip">Tag</div>
                    <div class="chip">Tag</div>
                </div>
            </div>

            <h5>date</h5>
        </div>

        <details>
            <summary>Expansion</summary>
            <p>Expanded</p>
        </details>
    </div>

    <p>This cosmic dance of bursting decadence and withheld permissions.</p>

    <!-- Other elements to text markup -->
    <a href="#">Anchor</a><br/>
    <em>Emphasis</em><br/>
    <small>Small</small><br/>
    <strong>Strong</strong><br/>
    <u>Underline</u><br/>

    <!-- Default Headings -->
    <h1>Heading</h1>
    <h2>Heading</h2>
    <h3>Heading</h3>
    <h4>Heading</h4>
    <h5>Heading</h5>
    <h6>Heading</h6>
</main>
{{ end }}
